# Versions (usually sourced from .versions_env)
PORTALBACKEND=dev

# Toggle authentication
AUTHENTICATION=1

# Frontend base URL used for post-logout redirect.
FRONTEND_BASE_URL=http://localhost

# External Keycloak
KEYCLOAK_AUTH_URL=https://iam.ebrains.eu/auth/
KEYCLOAK_REALM=MIP
KEYCLOAK_CLIENT_ID=mippublic
KEYCLOAK_CLIENT_SECRET=replace-me
KEYCLOAK_SSL_REQUIRED=none
