services:
  exaflow_aggregation_server:
    image: madgik/exaflow_aggregation_server:${EXAFLOW}
    ports:
      - "50051:50051"
    environment:
      PORT: 50051
      MAX_GRPC_CONNECTIONS: 10
      MAX_WAIT_FOR_AGGREGATION_INPUTS: 30
      LOG_LEVEL: INFO
    restart: unless-stopped
    networks:
      default:
        ipv4_address: 172.28.0.13

  exaflow_controller:
    image: madgik/exaflow_controller:${EXAFLOW}
    ports:
      - "5000:5000"
    environment:
      NODE_IDENTIFIER: controller
      FEDERATION: dementia
      LOG_LEVEL: INFO
      FRAMEWORK_LOG_LEVEL: INFO
      DEPLOYMENT_TYPE: LOCAL
      WORKER_LANDSCAPE_AGGREGATOR_UPDATE_INTERVAL: 30
      WORKER_TASKS_TIMEOUT: 30
      FLOWER_ENABLED: false
      FLOWER_EXECUTION_TIMEOUT: 30
      FLOWER_SERVER_PORT: 8080
      LOCALWORKERS_CONFIG_FILE: /opt/config/localworkers_config.json
      LOCALWORKERS_DNS: ""
      LOCALWORKERS_PORT: ""
      AGGREGATION_SERVER_ENABLED: true
      AGGREGATION_SERVER_DNS: 172.28.0.13:50051
      SMPC_ENABLED: false
      SMPC_OPTIONAL: false
      SMPC_COORDINATOR_ADDRESS: ""
      SMPC_GET_RESULT_INTERVAL: 10
      SMPC_GET_RESULT_MAX_RETRIES: 100
      DP_ENABLED: false
      DP_SENSITIVITY: ""
      DP_PRIVACY_BUDGET: ""
    depends_on:
      - exaflow_aggregation_server
    volumes:
      - ./config:/opt/config
    restart: unless-stopped
    networks:
      default:
        ipv4_address: 172.28.0.10

  exaflow_global_worker:
    image: madgik/exaflow_worker:${EXAFLOW}
    environment:
      WORKER_IDENTIFIER: globalworker
      WORKER_ROLE: GLOBALWORKER
      FEDERATION: dementia
      LOG_LEVEL: INFO
      FRAMEWORK_LOG_LEVEL: INFO
      DUCKDB_PATH: /tmp/globalworker.duckdb
      DATA_PATH: /opt/data
      CONTROLLER_IP: 172.28.0.10
      CONTROLLER_PORT: 5000
      WORKER_TASKS_TIMEOUT: 30
      PROTECT_LOCAL_DATA: false
      GRPC_IP: 172.28.0.11
      GRPC_PORT: 5670
      AGGREGATION_SERVER_ENABLED: true
      AGGREGATION_SERVER_DNS: 172.28.0.13:50051
      SMPC_ENABLED: false
      SMPC_OPTIONAL: false
      SMPC_CLIENT_ID: ""
      SMPC_CLIENT_ADDRESS: ""
      SMPC_COORDINATOR_ADDRESS: ""
    depends_on:
      - exaflow_controller
      - exaflow_aggregation_server
    restart: unless-stopped
    networks:
      default:
        ipv4_address: 172.28.0.11

  exaflow_local_worker1:
    image: madgik/exaflow_worker:${EXAFLOW}
    environment:
      WORKER_IDENTIFIER: localworker1
      WORKER_ROLE: LOCALWORKER
      FEDERATION: dementia
      LOG_LEVEL: INFO
      FRAMEWORK_LOG_LEVEL: INFO
      DUCKDB_PATH: /tmp/localworker1.duckdb
      DATA_PATH: /opt/data
      CONTROLLER_IP: 172.28.0.10
      CONTROLLER_PORT: 5000
      WORKER_TASKS_TIMEOUT: 30
      PROTECT_LOCAL_DATA: false
      GRPC_IP: 172.28.0.12
      GRPC_PORT: 5671
      AGGREGATION_SERVER_ENABLED: true
      AGGREGATION_SERVER_DNS: 172.28.0.13:50051
      SMPC_ENABLED: false
      SMPC_OPTIONAL: false
      SMPC_CLIENT_ID: ""
      SMPC_CLIENT_ADDRESS: ""
      SMPC_COORDINATOR_ADDRESS: ""
    depends_on:
      - exaflow_controller
      - exaflow_aggregation_server
    volumes:
      - ../data:/opt/data
    restart: unless-stopped
    networks:
      default:
        ipv4_address: 172.28.0.12

  platform_backend_db:
    image: postgres:11.20-alpine
    volumes:
      - ./.stored_data/platform_backenddb:/var/lib/postgresql/data
    hostname: platform_backend_db
    environment:
      POSTGRES_PASSWORD: test
    command: -p 5433
    ports:
      - '5433:5433'
    restart: unless-stopped

  create_dbs:
    image: hbpmip/create-databases:1.1.0
    depends_on:
      - platform_backend_db
    environment:
      DB_HOST: platform_backend_db
      DB_PORT: 5433
      DB_ADMIN_USER: postgres
      DB_ADMIN_PASSWORD: test
      DB4: portal
      USER4: portal
      PASSWORD4: portalpwd
    restart: on-failure

  platform-backend:
    image: hbpmip/platform-backend:${PLATFORM_BACKEND}
    ports:
      - '8080:8080'
      - '8089:8089'
    depends_on:
      - create_dbs
      - exaflow_controller
    environment:
      ### LOGGER ###
      LOG_LEVEL: INFO
      LOG_LEVEL_FRAMEWORK: INFO
      FEDERATION: dementia
      ### Database ###
      PLATFORM_DB_URL: jdbc:postgresql://platform_backend_db:5433/portal
      PLATFORM_DB_SERVER: platform_backend_db:5433
      PLATFORM_DB_USER: portal
      PLATFORM_DB_PASSWORD: portalpwd
      ### Exaflow ###
      ALGORITHM_UPDATE_INTERVAL: 30     # seconds
      EXAFLOW_URL: http://exaflow_controller:5000
      FRONTEND_BASE_URL: "${FRONTEND_BASE_URL}"
      ### Keycloak (external) ###
      AUTHENTICATION: "${AUTHENTICATION}"
      KEYCLOAK_AUTH_URL: "${KEYCLOAK_AUTH_URL}"
      KEYCLOAK_REALM: "${KEYCLOAK_REALM}"
      KEYCLOAK_CLIENT_ID: "${KEYCLOAK_CLIENT_ID}"
      KEYCLOAK_CLIENT_SECRET: "${KEYCLOAK_CLIENT_SECRET}"
      KEYCLOAK_SSL_REQUIRED: "${KEYCLOAK_SSL_REQUIRED}"
    volumes:
      - ./config:/opt/platform/api
    restart: unless-stopped

  platform_ui:
    image: hbpmip/platform-ui:${PLATFORM_UI}
    ports:
      - "80:80"
    environment:
      PLATFORM_BACKEND_SERVER: platform-backend:8080
      PLATFORM_BACKEND_CONTEXT: services
      NOTEBOOK_ENABLED: 0
      FRONTEND_VERSION: "${PLATFORM_UI}"
      BACKEND_VERSION: "${PLATFORM_BACKEND}"
      EXAFLOW_VERSION: "${EXAFLOW}"
      MIP_VERSION: "${MIP}"
    depends_on:
      - platform-backend
    restart: unless-stopped

networks:
  default:
    ipam:
      config:
        - subnet: 172.28.0.0/24
