{{- $namespace := include "mip.namespace" . }}
{{- $platformUiDatacatalogProtocol := default .Values.datacatalog.protocol .Values.platform-ui.config.datacatalog.protocol -}}
{{- $platformUiDatacatalogHost := default .Values.datacatalog.host .Values.platform-ui.config.datacatalog.host -}}
{{- $matomoEnabled := ternary "true" "false" (default false .Values.platform-ui.config.matomo.enabled) -}}
{{- $proxyForwarding := ternary "true" "false" (default true .Values.keycloak.proxyAddressForwarding) -}}
{{- $authEnabled := default true .Values.keycloak.enabled -}}
{{- $authFlag := ternary "1" "0" $authEnabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mip-config
  namespace: {{ $namespace }}
data:
  engines.exaflow.URL: {{ default "" .Values.engines.exaflow.url | quote }}

  mip.INSTANCE_NAME: {{ include "mip.instanceName" . | quote }}
  mip.INSTANCE_VERSION: {{ include "mip.instanceVersion" . | quote }}
  mip.LINK: {{ .Values.network.link | quote }}
  mip.EXTERNAL_PROTOCOL: {{ .Values.network.externalProtocol | quote }}
  mip.PUBLIC_PROTOCOL: {{ .Values.network.publicProtocol | quote }}
  mip.PUBLIC_HOST: {{ .Values.network.publicHost | quote }}
  mip.PLATFORM_UI_URL: {{ printf "%s://%s" .Values.network.publicProtocol .Values.network.publicHost | quote }}

  platform-backend.LOG_LEVEL: {{ .Values.platform-backend.config.logLevel | quote }}
  platform-backend.LOG_LEVEL_FRAMEWORK: {{ .Values.platform-backend.config.logLevelFramework | quote }}
  platform-backend.ALGORITHM_UPDATE_INTERVAL: "{{ .Values.platform-backend.config.algorithmUpdateInterval }}"

  platform-ui.ERROR_LOG_LEVEL: {{ .Values.platform-ui.config.errorLogLevel | quote }}
  platform-ui.DATACATALOG_SERVER: {{ printf "%s://%s" $platformUiDatacatalogProtocol $platformUiDatacatalogHost | quote }}
  platform-ui.MATOMO_ENABLED: "{{ $matomoEnabled }}"
  platform-ui.MATOMO_URL: {{ default "" .Values.platform-ui.config.matomo.url | quote }}
  platform-ui.MATOMO_SITE_ID: "{{ default "" .Values.platform-ui.config.matomo.siteId }}"

  keycloak.AUTHENTICATION: "{{ $authFlag }}"
  keycloak.HOSTNAME: {{ include "mip.keycloak.host" . | quote }}
  keycloak.AUTH_URL: {{ include "mip.keycloak.authUrl" . | quote }}
  keycloak.REALM: {{ include "mip.keycloak.realm" . | quote }}
  keycloak.CLIENT_ID: {{ include "mip.keycloak.clientId" . | quote }}
  keycloak.SSL_REQUIRED: {{ include "mip.keycloak.sslRequired" . | quote }}
  keycloak.PROXY_ADDRESS_FORWARDING: "{{ $proxyForwarding }}"
