{{- $namespace := include "mip.namespace" . -}}
{{- $platformUi := index .Values "platform-ui" -}}
{{- $platformBackend := index .Values "platform-backend" -}}
{{- $platformUiDatacatalogProtocol := default .Values.datacatalog.protocol $platformUi.config.datacatalog.protocol -}}
{{- $platformUiDatacatalogHost := default .Values.datacatalog.host $platformUi.config.datacatalog.host -}}
{{- $matomoEnabled := ternary "true" "false" (default false $platformUi.config.matomo.enabled) -}}
{{- $proxyForwarding := ternary "true" "false" (default true .Values.keycloak.proxyAddressForwarding) -}}
{{- $authEnabled := default true .Values.keycloak.enabled -}}
{{- $authFlag := ternary "1" "0" $authEnabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mip-config
  namespace: {{ $namespace }}
data:
  engines.exaflow.URL: {{ default "" .Values.engines.exaflow.url | quote }}

  mip.INSTANCE_NAME: {{ include "mip.instanceName" . | quote }}
  mip.INSTANCE_VERSION: {{ include "mip.instanceVersion" . | quote }}
  mip.LINK: {{ .Values.network.link | quote }}
  mip.EXTERNAL_PROTOCOL: {{ .Values.network.externalProtocol | quote }}
  mip.PUBLIC_PROTOCOL: {{ .Values.network.publicProtocol | quote }}
  mip.PUBLIC_HOST: {{ .Values.network.publicHost | quote }}
  mip.PLATFORM_UI_URL: {{ printf "%s://%s" .Values.network.publicProtocol .Values.network.publicHost | quote }}

  platform-backend.LOG_LEVEL: {{ $platformBackend.config.logLevel | quote }}
  platform-backend.LOG_LEVEL_FRAMEWORK: {{ $platformBackend.config.logLevelFramework | quote }}
  platform-backend.ALGORITHM_UPDATE_INTERVAL: {{ $platformBackend.config.algorithmUpdateInterval | quote }}

  platform-ui.ERROR_LOG_LEVEL: {{ $platformUi.config.errorLogLevel | quote }}
  platform-ui.DATACATALOG_SERVER: {{ printf "%s://%s" $platformUiDatacatalogProtocol $platformUiDatacatalogHost | quote }}
  platform-ui.MATOMO_ENABLED: {{ $matomoEnabled | quote }}
  platform-ui.MATOMO_URL: {{ default "" $platformUi.config.matomo.url | quote }}
  platform-ui.MATOMO_SITE_ID: {{ default "" $platformUi.config.matomo.siteId | quote }}

  keycloak.AUTHENTICATION: {{ $authFlag | quote }}
  keycloak.HOSTNAME: {{ include "mip.keycloak.host" . | quote }}
  keycloak.AUTH_URL: {{ include "mip.keycloak.authUrl" . | quote }}
  keycloak.REALM: {{ include "mip.keycloak.realm" . | quote }}
  keycloak.CLIENT_ID: {{ include "mip.keycloak.clientId" . | quote }}
  keycloak.SSL_REQUIRED: {{ include "mip.keycloak.sslRequired" . | quote }}
  keycloak.PROXY_ADDRESS_FORWARDING: {{ $proxyForwarding | quote }}
