{{- $namespace := include "mip.namespace" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-ui
  namespace: {{ $namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: platform-ui
  template:
    metadata:
      labels:
        app: platform-ui
    spec:
      containers:
      - name: platform-ui
        image: "{{ .Values.platform-ui.image.repository }}:{{ .Values.platform-ui.image.tag }}"
        ports:
        - containerPort: 80
        {{- $backendHost := default "" .Values.platform-ui.backend.host -}}
        {{- if $backendHost }}
        - name: PLATFORM_BACKEND_SERVER
          value: {{ printf "%s:%v" $backendHost (default 8080 .Values.platform-ui.backend.port) | quote }}
        - name: PLATFORM_BACKEND_CONTEXT
          value: {{ default "services" .Values.platform-ui.backend.context | quote }}
        {{- end }}
        {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: platform-ui
  namespace: {{ $namespace }}
spec:
  selector:
    app: platform-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  {{- if not .Values.cluster.managed }}
  type: NodePort
  {{- if .Values.platform-ui.service.nodePort }}
  nodePort: {{ .Values.platform-ui.service.nodePort }}
  {{- end }}
  {{- end }}
{{- $ingressEnabled := and (default true .Values.network.ingress.enabled) (default true .Values.platform-ui.ingress.enabled) -}}
{{- if and $ingressEnabled (not (empty .Values.network.publicHost)) }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: platform-ui-ingress
  namespace: {{ $namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.platform-ui.ingress.className | default "nginx" }}
    {{- if .Values.platform-ui.ingress.certManagerClusterIssuer }}
    cert-manager.io/cluster-issuer: {{ .Values.platform-ui.ingress.certManagerClusterIssuer }}
    {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: /
    {{- $redirect := .Values.platform-ui.ingress.redirectRootTo | default "" }}
    {{- if $redirect }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($request_uri = "/") {
        return 302 {{ $redirect }};
      }
    {{- end }}
spec:
  ingressClassName: {{ .Values.platform-ui.ingress.className | default "nginx" }}
  {{- if and .Values.network.ingress.tlsSecretName (not (empty .Values.network.publicHost)) }}
  tls:
    - hosts:
      - {{ .Values.network.publicHost }}
      secretName: {{ .Values.network.ingress.tlsSecretName }}
  {{- end }}
  rules:
    - host: {{ .Values.network.publicHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: platform-ui
                port:
                  number: 80
{{- end }}
