{{- $namespace := include "mip.namespace" . -}}
{{- $platformUi := index .Values "platform-ui" -}}
{{- $backendHost := default "" $platformUi.backend.host -}}
{{- $backendPort := default 8080 $platformUi.backend.port -}}
{{- $backendContext := default "services" $platformUi.backend.context -}}
{{- $ingressEnabled := and (default true .Values.network.ingress.enabled) (default true $platformUi.ingress.enabled) -}}
{{- $publicHost := default "" .Values.network.publicHost -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-ui
  namespace: {{ $namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: platform-ui
  template:
    metadata:
      labels:
        app: platform-ui
    spec:
      containers:
        - name: platform-ui
          image: "{{ $platformUi.image.repository }}:{{ $platformUi.image.tag }}"
          ports:
            - containerPort: 80
{{- if $backendHost }}
          env:
            - name: PLATFORM_BACKEND_SERVER
              value: {{ printf "%s:%v" $backendHost $backendPort | quote }}
            - name: PLATFORM_BACKEND_CONTEXT
              value: {{ $backendContext | quote }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: platform-ui
  namespace: {{ $namespace }}
spec:
  selector:
    app: platform-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
{{- if not .Values.cluster.managed }}
  type: NodePort
{{- if $platformUi.service.nodePort }}
  nodePort: {{ $platformUi.service.nodePort }}
{{- end }}
{{- end }}
{{- if and $ingressEnabled (not (empty $publicHost)) }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: platform-ui-ingress
  namespace: {{ $namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ default "nginx" $platformUi.ingress.className | quote }}
{{- if $platformUi.ingress.certManagerClusterIssuer }}
    cert-manager.io/cluster-issuer: {{ $platformUi.ingress.certManagerClusterIssuer | quote }}
{{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: "/"
{{- $redirect := default "" $platformUi.ingress.redirectRootTo -}}
{{- if $redirect }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($request_uri = "/") {
        return 302 {{ $redirect }};
      }
{{- end }}
spec:
  ingressClassName: {{ default "nginx" $platformUi.ingress.className | quote }}
{{- if and .Values.network.ingress.tlsSecretName (not (empty $publicHost)) }}
  tls:
    - hosts:
        - {{ $publicHost }}
      secretName: {{ .Values.network.ingress.tlsSecretName }}
{{- end }}
  rules:
    - host: {{ $publicHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: platform-ui
                port:
                  number: 80
{{- end }}
